<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!-- DEVICE CONFIGURATION -->
      <add key="IPA.DAL.Device.AcceptedComPorts" value="COM35,COM109,COM110,COM111,COM112,COM113"/>
      <add key="IPA.DAL.Device.COMBaudRate" value="115200"/>
      <add key="IPA.DAL.Device.COMDataBits" value="8"/>
      <add key="IPA.DAL.Application.Client.LogLevel" value="FATAL|ERROR|WARNING|INFO|DEBUG"/>
      <!-- iSC250 -->
      <add key="isc2xxCOMPort" value="35"/>
      <!-- iSC480 -->
      <add key="isc350COMPort" value="35"/>
      <!-- iPP350 -->
      <add key="ipp3xx/ipp4xxCOMPort" value="35"/>
      <!-- iPP320 -->
      <add key="ipp3xx / ipp4xxCOMPort" value="35"/>
      <!-- UIA -->
      <add key="UIAConverterDirectory" value="C:/Temp/FirmwareConverter" />
      <add key="JavaCmd" value="C:/TrustCommerce/devices/ingenico/jre7/bin/TCIPAjDAL.exe"/>
      <add key="FileDropDestinationDirectory" value="C:/Temp/UpdateIngenicoUIA2RBA"/>
      <add key="download_bat" value="download.bat"/>
    </appSettings>
</configuration>